[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-custom-user = "*"
django-crispy-forms = "*"
stripe = "*"
django-allauth = "*"
checkout = "*"

[dev-packages]

[requires]
python_version = "3.6"
