{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Contcat</li>
</ol>
</nav>
<div class="row mx-auto">
  <div class="col-sm-6 col-sm-offset-3">


<h1>{{ title }}</h1>
<!--Условие для появления сообщения после отправки письма.-->
{% if confirm_message %}
<p> {{ confirm_message }} </p>
{% endif %}
{% if form %}
<form class="" action="" method="post">{% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="submit form" class="btn btn-default">
</form>
{% endif %}
</div>

</div>
{% endblock %}
